.first-card {
  background-color: var(--blue);
  display: flex;
  height: 240px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
}

.button-new-activity{
  margin-right: 0.75rem;
}