*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

:root {
    --text-100:#212F33;
    --bg-60:#415B63;
    --bg-30:#84B9C9;
    --bg-10:#A5E8FC;
}

.card-container h2 {
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 10px 30px;
}
.card-container label {
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    margin: 5px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  
}

.add-image img {
    max-width: 180px;
    height: auto;
    border: 2px solid #31444A;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
    

.card-container input {
    background-color: #84B9C9;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 48px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    
}

.card-container textarea {
    background-color: #84B9C9;
    border: none;
    border-radius: 5px;
    width: 90%;
    height: 5em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #31444A;
    border: #02fefe solid 2px;
    border-radius: 20px;
    min-height: 820px;
    width: 920px;
    padding: 0;
    margin: auto;
  }
      
.card-top {
    display: flex;
    flex-direction: row;

}
.card-top img {
    width: 180px;
    height: 180px;
}

.card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 20px 0 0 80px;
}
.card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 20px 30px 0 110px;
}
.name, .duration, .type, .date, .weight, .card-description {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 10px 0;
}
.duration input {
    display: flex;    
    flex-direction: row-reverse;
    width: 320px;
    align-items: flex-end;

} 

  .duration-input label {
    margin-right: 5px;
  }
  
#act-type {
    background-color: #84B9C9;
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 48px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
}

/* น่าจะต้องแก้ */
.card-description {
    height: auto;
    width: auto;
    margin: 10px 0 0 80px;
}

.card-description input {
    width: 90%;
    height: 100px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 20px 50px 50px 0;
}

.cancel {
    border: none;
    font-size: 20px;
    font-weight: strong;
    height: 50px;
    width: 100px;
    margin-right: 25px;
    border-radius: 5px;
    color: white;
    background-color: #d9534f;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
}

.add {
    border: none;
    font-size: 20px;
    font-weight: strong;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    color: white;
    background-color: #5cb85c;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    /* border: #007cef solid 3px; */
}

.imageIcon {
    width: auto;
    height: 180px;
}

.plusIcon {
    width: auto;
    height: 40px;
}

.hoverable-div{
    cursor: pointer;
}
.warning-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(194, -50%, 80%, 0.8);
    border-radius: 5px;
    text-align: center;
    width: 320px;
    height: 48px;
    margin: 10px 0;
    padding: 0;
    
    color: red;
    font-size: 16px;
    margin-top: 5px;
  }

input#file-regiss {
    display:none;
    color:#939393
}

input#file-regiss + label {
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    color:#fff;
    border-radius: 5px;
}

input#file-regiss + label:hover {
    border: 1px solid black;
    color:#31444A
}