.card-title {
    font-size: 50px;
}

.card-text{
    font-size: larger;
}

.card{
    background-color:var(--blue) ;
    border-style: solid;
    border-color: #02fefe;
    border-radius:1rem;
    border-width: 0.2rem;

}

.goalCardSelected{
    border-width: 0.2rem;
    border-color:#58B90A;
}