*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
  }
  
  .input-weight {
      background: transparent;
      text-align: center;
      font-size: 144px;
      border-radius: 5px;
      border: none;
      height: auto;
      width: 300px;
      /* margin-top: 40px; */
      margin-top: 20px;
    }
    
  
  /* ลบเครื่องหมายเพิ่มลดของช่องอินพุท */
  
  input.input-weight::-webkit-outer-spin-button,
  input.input-weight::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
  .weightContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
  }
  
  .stepper-button {
      background-color: black;
  }
  
  .setGoal {
      font-size: 32px;
      color: white;
      font-weight: bold;
      padding: 0;
      margin: 120px auto 30px auto;
  }
  
  .weightGoal {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:#85b9c9;
      border: #02fefe solid 2px;
      border-radius: 20px;
      width: 60%;
      height: 50%;
      margin: 0px auto auto 200px;
  
  }
  
  .done {
      color: white;
      background-color: green;
      border: none;
      border-radius: 5px;
      padding: 3px;
      width: 100px;
      height: 60px;
      height: auto;
      font-size: 22px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
      margin-top: 50px;
  }
  
  .stepper {
      display: flex;
      flex-direction: column;
      /* margin-top: 40px; */
      margin-top: 20px;
  }
  
  .input-stepper {
      display: flex;
      align-items: center;
  }
    
  
    .pointer {
      width: 80px;
      height: 80px;
  
  }
  
  .pointer:hover {cursor: pointer;}